.newBlog{
    display: flex;
    margin: 10px;
}

.innerBlog{
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
}

.link{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
}