* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: #ff6600;
    padding: 2px;
}

.logo {
    border: 1px white solid;
    padding: 1px 4px;
    color: white;
    font-weight: 600;
}

.title {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    font-size: .9em;
}
.title>div{
    display: flex;
}
h4{
    font-size: 1em;
}
.navLink {
    padding: 0 5px;
    color: rgb(31, 31, 31);
    font-weight: 300;
}

.navLink>span {
    cursor: pointer;
    font-weight: normal;
    color: black;
}